.shadows {
  position: relative;
  text-transform: uppercase;
  text-shadow: -2px 5px 20px #ced0d3;
  color: #dee4ea;
  letter-spacing: -0.05em;
  font-family: "Anton", Arial, sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform: uppercase;
  font-size: 4rem;
  transition: all 0.25s ease-out;
}

.shadows:hover {
  text-shadow: -5px 6px 15px #c0bebe;
  cursor: pointer;
}
