@import url("https://fonts.googleapis.com/css2?family=Whisper&display=swap");

.hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1557683316-973673baf926?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  background-position: center;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: white;
  box-sizing: border-box;
}

.hero-section h1 {
  font-family: "Whisper", sans-serif;
}

.text-icon {
  width: 20px;
  margin-right: 3px;
}

#location-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.location-marker-bounce {
  animation-name: bounce;
  animation-duration: 0.5s;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
